<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>個人資料</title>
	{% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
	<script src="{% static 'js/profile.js' %}"></script>
	<header>
		<img class="logo" src="{% static 'image/logologin.png' %}" alt="">
		<nav>
			<ul>
				<li class="area dropdown">
					<a href="#">Python<span class="arrow"></span></a>
					<ul class="dropdown-content">
						<li><a href="http://127.0.0.1:5500/TryPython.html">Python</a></li>
						<li><a href="http://127.0.0.1:5500/TryHtml.html">HTML</a></li>
					</ul>
				</li>
				<li class="area"><a href="http://127.0.0.1:8000/teach_app/teach/">教學區</a></li>
				<li class="area"><a href="#">問答區</a></li>
				<li class="area"><a href="http://127.0.0.1:8000/test_app/test/">測驗區</a></li>
				<li class="area"><a href="#">好友區</a></li>
				<li class="area profile">
					<img src="{% static 'image/profile1.png' %}" alt="">
					<ul class="profile-dropdown">
						<li><a href="http://127.0.0.1:8000/login_app/profile/">個人資料</a></li>
						<li><a href="http://127.0.0.1:8000/login_app/main/">登出</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
	
	<div class="block">
		<div class="card">
			<div class="left">
				<img src="{% static 'image/profile1.png' %}" id="profileimg" class="profileimg" onclick="openModal();" /><br>			  
				<p class="userID">ID 0123456789</p> 
			</div>
			
			<form method="post">
				<!--{% csrf_token %}--><!--先註解掉不然會顯示出來--> 
				<div class="right">
					<div class="space">
						帳號<input type="text" name="user_account" id="account-input" class="input" value="{{ new_user_data.user_account|default:'' }}" required/>
					</div>
					<div class="space">
						姓名<input type="text" name="user_name" id="name-input" class="input" value="{{ new_user_data.user_name|default:'' }}" required/>
					</div>
					<div class="space">
						生日<input type="date" name="user_birth"id="birth-input" class="input" value="{{ new_user_data.user_birth|date:'Y-m-d' }}" required/>
					</div>
					<div class="space">
						密碼<input type="password" name="user_password" id="password-input" class="input" value="{{ new_user_data.user_password|default:'' }}" required/>
					</div>
					<div class="space">
						信箱<input type="text" name=user_email id="email-input" class="input" value="{{ new_user_data.user_email|default:'' }}" required/>
					</div>
					<button type="submit" class="save">儲存</button>
				</div>	
			</form>
		</div><!--card-->
	</div>

	<div id="avatarModal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
		  	<h3>選擇頭像</h3>
		  	<div id="avatarOptions" class="photo-frame">
			<!-- 可選頭像 -->
				<div class="avatar-option" onclick="selectAvatar('profile1.png')">
			  		<img src="{% static 'image/profile1.png' %}" alt="Avatar 1" />
				</div>
				<div class="avatar-option" onclick="selectAvatar('profile2.png')">
			  		<img src="{% static 'image/profile2.png' %}" alt="Avatar 2" />
				</div>
				<div class="avatar-option" onclick="selectAvatar('profile3.png')">
			  		<img src="{% static 'image/profile3.png' %}" alt="Avatar 3" />
				</div>
				<div class="avatar-option" onclick="selectAvatar('profile4.png')">
			  		<img src="{% static 'image/profile4.png' %}" alt="Avatar 4" />
				</div>
				<div class="avatar-option" onclick="selectAvatar('profile5.png')">
			  		<img src="{% static 'image/profile5.png' %}" alt="Avatar 5" />
				</div>
				<div class="avatar-option" onclick="selectAvatar('profile6.png')">
			  		<img src="{% static 'image/profile6.png' %}" alt="Avatar 6" />
				</div>
				<div class="avatar-option" onclick="selectAvatar('profile7.png')">
			  		<img src="{% static 'image/profile7.png' %}" alt="Avatar 7" />
				</div>
				<div class="avatar-option" onclick="selectAvatar('profile8.png')">
			  		<img src="{% static 'image/profile8.png' %}" alt="Avatar 8" />
				</div>
				<div class="avatar-option" onclick="selectAvatar('profile9.png')">
			  		<img src="{% static 'image/profile9.png' %}" alt="Avatar 9" />
				</div>
				<!-- 根據需要繼續添加更多頭像 -->
		  	</div>
		</div>
	</div>	  
</body>
</html>