* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url('bg.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    background-color: #344955;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    opacity: 0.8;
    height: 70vh;
}

.box1 {
    padding: 1rem 2rem;
    width: 49%;
}

.box-logo img {
    height: auto;
    width: 100%;
    margin-bottom: 1.5rem;
}

.box-p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

.box2 {
    width: 0.05rem;
    height: 86%;
    background-color: white;
    align-self: center;
    margin: 0 1rem;
}

.box3 {
    width: 49%;
    padding: 2% 9% 2% 9%;
}

.frame1,
.frame2 {
    background-color: rgba(244, 240, 210, 0.13);
    padding: 1.5rem 2rem;
    transition: all 0.3s ease;
    text-align: center;
}

.frame1 {
    margin-bottom: 2rem;
}

.frame-text {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2.8rem;
}

.frame-text a {
    color: white;
    text-decoration: none;
}