<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="">
        </div>
        <nav>
            <ul>
                <li class="area dropdown">
                    <a href="#">Python <span class="arrow"></span></a>
                    <ul class="dropdown-content">
                        <li><a href="#">Python</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">JAVA</a></li>
                    </ul>
                </li>
                <li class="area"><a href="#">教學區</a></li>
                <li class="area"><a href="#">問答區</a></li>
                <li class="area"><a href="#">測驗區</a></li>
                <li class="area"><a href="#">好友區</a></li>
                <li class="area profile">
                    <a href="#"><img src="{{ url_for('static', filename='profile1.png') }}" alt=""></a>
                    <ul class="profile-dropdown">
                        <li><a href="#">個人資料</a></li>
                        <li><a href="#">登出</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>