<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>助教，可以幫我Chat認嗎</title>
</head>
<body>
    <header>
        <a href="/index"><img class="logo" src="{% static 'logologin.png' %}" alt=""></a>
        <nav>
            <ul>
                <li class="area dropdown" id="language">
                    <a href="#" id="changelanguage">選擇語言<span class="arrow"></span></a>
                    <ul class="dropdown-content">
                        <li data-value="Python"><a href="/userprofile/teach_py/" class="dropdown-link">Python</a></li>
                        <li data-value="HTML"><a href="/userprofile/teach" class="dropdown-link">HTML</a></li>
                    </ul>
                </li>
                <li class="area"><a href="/userprofile/teach">教學區</a></li>
                <li class="area"><a href="#">問答區</a></li>
                <li class="area"><a href="/userprofile/test">測驗區</a></li>
                <li class="area"><a href="#">好友區</a></li>
                <li class="area profile">
                {% if user %}
                    <img src="{% static user.avatar %}" alt="">
                {% else %}
                    <img src="{% static 'user.png' %}" alt="">
                {% endif %}
                    <ul class="profile-dropdown">
                        {% if user %}
                            <!-- 已登入時顯示 -->
                            <li><a href="/userprofile/profile">個人資料</a></li>
                            <li><a href="{% url 'logout' %}" class="logout-button">登出</a></li>
                        {% else %}
                            <!-- 未登入時顯示 -->
                            <li><a href="{% url 'chatforyou' %}">註冊/登入</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div class="rec1">
        <div class="left">
            <img src="{% static 'python.png' %}" alt="" class="img" />
        </div>
        <div class="right">
            <div class="txt">
                Python是一種高級程式語言，以其簡潔易讀的語法和強大的功能著稱。它廣泛應用於網頁開發、數據分析、人工智能、自動化等領域，擁有豐富的第三方庫和活躍的社群支持，非常適合初學者和專業開發者。
            </div>
        </div>
    </div>
    <!--2-->
    <div class="rec1">
        <div class="left">
            <div class="txt">
                HTML是用於創建網頁的標準標記語言。它使用標籤來結構化內容，如文本、圖像和鏈接，是網頁設計的基礎，並與CSS和JavaScript一起使用來創建互動和美觀的網站。
            </div>
        </div>
        <div class="right">
              <img src="{% static 'html.png' %}" alt="" class="img" />
        </div>
    </div>
</body>
</html>
